.red {
    background-image: url('../images/forumIMG.jpg');
    /* background-color: #C10000; */
}
.scroll{
    background-image: url('../images/scroll.jpg');
    width: 100%;
}
.pinkPattern{
    background-image: url('../images/pinkpattern.jpg');
}
.pink {
    background-color: #FFDBDB;
}

.darkRed {
    background-color: #C10000;
    color:white;
}
.size{
    font-size: 25px;
}
.subSize{
    font-size: 20px;
}
.menuInject{

}
a{
    color: black;
    font-weight: bold;
}